<% provide(:title, 'Text Input') %>

<%= @user=current_user %>
<h1> Input Text <h1>
<h2> Please Enter your Text here for comparison! <h2>

<label> First Article </label>

<%=form_tag uploadedtext_path , :id=>"my" do %>

<%=text_area_tag "first"%>

<label> Second Article </label>
<%=text_area_tag "second"%>

<%= submit_tag "Score" %>

<%end %>

