<% provide(:title, 'Content Confirmation') %>


<h1> Please confirm contents </h1>

 <%= link_to "Confirm", score_path,
                                class: "follow-button" %>

<h2> Content of first article </h2>
<br>
<p>
<%=@first%>
</p>

<h2>Content of Second article</h2>

<br>
<p>
<%=@second%>
</p>

<%=current_user.update_attribute(:firstarticle, @first)%>
<%=current_user.update_attribute(:secondarticle, @second)%>


 <%= link_to "Confirm", score_path,
                                class: "follow-button" %>

