<% provide(:title, 'Content Confirmation') %>

 <%= link_to "Confirm", score_path,
                                class: "btn btn-large btn-primary" %>

<label>Content of first article</label>
<br>
<p>
<%=@file_content%>
</p>

<label>Content of Second article</label>

<br>
<p>
<%=@file_content1%>
</p>

<%=current_user.update_attribute(:firstarticle, @file_content)%>
<%=current_user.update_attribute(:secondarticle, @file_content1)%>


 <%= link_to "Confirm", score_path,
                                class: "btn btn-large btn-primary" %>


