<% provide(:title, @user) %>
<h1> Welcome! :) </h1>
<br>
<h2> If you want to upload files click Upload files for comparison </h2>
<h2> If you want to Enter two Text manually click Enter text for comparison </h2>
<br>
<%@user=current_user%>
<p id="notice"><%= notice %></p>

<h3>
  <label>Name:</label>
</h3>
<h4> 
 <%= @user.name %>
</h4>

<h3>
  <label>Email:</label>
</h3>
<h4>
  <%= @user.email %>
</h4>

<br>


<%= link_to "Enter Text manually", inputtext_path,
                                 class: "follow-button" %>
<br>
<%= link_to "Upload Files", upload_path,
                                 class: "follow-button" %>

<br>


<%= link_to 'Edit', edit_user_path(@user) %> 


